@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('../../assets/Fonts/Inter_24pt-Regular.ttf') format('ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    text-decoration: none;
}



:root{
    --black:#1F1F1F;
    --tup-color: #94152B;
    --white: #fff;
    --button:  #97170E;
    --button-hover:  #75110a;
    --shadow: #0000003b;
    --yellow: #EDDF13;
    --yellow-hover: rgb(218, 168, 3);
    --yellow-filter: brightness(0) saturate(10%) invert(90%) sepia(41%) saturate(1000%) hue-rotate(332deg) brightness(103%) contrast(103%);
    --white-filter:  brightness(100%) saturate(0) invert(100%) sepia(0) saturate(0) hue-rotate(0) brightness(1000%) contrast(100%);
    --green: #54CB58;
    --light-gray: #F7F7F7;
    --blue: #5499CB;
    --table-header: #6F6A6A;
    --table-border-bottom:#D9D9D9;
    --light-red: rgba(148, 21, 43, 0.1);
}

.viewpatron-container{
    padding: 10px 70px 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow-x: hidden;   
}

.view-patron-back-button{
    color: var(--button);
    border: 1px solid var(--button);
    background-color: var(--white);
    transition: all 0.2s linear;
}

.view-patron-back-button:hover,
.view-patron-back-button:focus,
.view-patron-back-button:active{
    background-color: var(--tup-color);
    color: var(--white);
}

.viewpatron-container .loadingName,
.viewpatron-container .loadingID,
.viewpatron-container .loadingInfo,
.viewpatron-container .loadingTable {
    border-radius: 5px;
    background: linear-gradient(90deg, #E0E0E0 25%, rgba(255, 255, 255, 0.4) 50%, #E0E0E0 75%);
    background-size: 200% 100%;
    animation: shimmer 2s infinite linear;
}

/* Adjusting sizes individually */
.viewpatron-container .loadingName {
    width: 20%;
    height: 50px;
}

.viewpatron-container .loadingID {
    width: 20%;
    height: 30px;
}

.viewpatron-container .loadingInfo {
    width: 30%;
    height: 100px;
}

.viewpatron-container .loadingTable{
    width: 100%;
    height: 500px;
}

@keyframes shimmer {
0% {
    background-position: -200px 0;
}
100% {
    background-position: 200px 0;
    }
}