@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('../../assets/Fonts/Inter_24pt-Regular.ttf') format('ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    text-decoration: none;
}

:root{
    --black:#1F1F1F;
    --tup-color: #94152B;
    --white: #fff;
    --button:  #97170E;
    --button-hover:  #75110a;
    --shadow: #0000003b;
    --yellow: #EDDF13;
    --yellow-filter: brightness(0) saturate(10%) invert(90%) sepia(41%) saturate(1000%) hue-rotate(332deg) brightness(103%) contrast(103%);
    --white-filter:  brightness(100%) saturate(0) invert(100%) sepia(0) saturate(0) hue-rotate(0) brightness(1000%) contrast(100%);
    --green: #54CB58;
    --light-gray: #F7F7F7;
    --blue: #5499CB;
    --table-header: #6F6A6A;
    --table-border-bottom:#D9D9D9;
}

.dashboard-container{
    padding: 10px 70px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden;
}

.dashboard-heading{
    display: flex;
    justify-content: space-between;
}

.dashboard-heading-text{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--black);
}

.dashboard-dropdown{
    border: 2px solid  var(--tup-color);
    background-color: var(--white);
    padding: 8px;
    width: 100px;
    font-size: 1rem;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s linear;
}

.dashboard-dropdown:hover{
    color: var(--white);
    background-color: var(--tup-color);
}

.dashboard-dropdown:hover .dashboard-dropdown-icon{
    filter: var(--white-filter);
}

.dashboard-dropdown-list{
    height: 0;
    position: absolute;
    background-color: var(--white);
    margin-top: 10px;
    width: 150px;
    border-radius: 5px;
    right: 50px;
    box-shadow: 0px 0px 3px var(--shadow);
    overflow: hidden;
}

.show-dash-dropdown{
    height: auto;
}

.dashboard-dropdown-list p{
    padding: 15px;   
    transition: all 0.1s linear;
}

.dashboard-dropdown-list p:hover{
    background-color: var(--tup-color);
    color: var(--white);
}

.dashboard-overview{
    display: flex;
    gap: 20px;
}


.dash-box{
    width: 300px;
    background-color: var(--light-gray);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
}

.total-visitors-p, .total-visitors-count{
    color: var(--green);
}

.total-visitors-p,  .borrowed-books-p{
    font-size: 1.2rem;
}

.total-visitors-count, .borrowed-books-count{
    font-weight: 700;
    font-size: 2.5rem;
}

.visitor-count-icon,  .borrowed-count-icon{
    display: flex;
    justify-content: space-between;
}

.borrowed-books-p, .borrowed-books-count{
    color: var(--blue);
}

.borrowers-books-list{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
}

.borrowers-list,.books-list,.books-issued{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.borrowers-books-list div{
    background-color: var(--light-gray);
    width: 100%;
    padding: 20px;
    border-radius: 8px;
}

.borrowers-heading, .books-heading, .book-issued-heading{
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.list-heading, .popular-choices-text, .overdue-book-text,.stats-text{
    font-weight: 700;
    color: var(--black);
    font-size: 1.2rem;
}

.borrower-table, .book-table,.book-issued-table{
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}


th,td{
    font-size: 0.8rem;
    font-weight: 400;
    padding: 15px;
    border-bottom: 1px solid var(--table-border-bottom);
}

th{
    color: var(--table-header);
}

.list-add-button{
    border: 1px solid var(--tup-color);
    display: flex;
    gap: 5px;
    align-items: center;
    border-radius: 20px;
    color: var(--tup-color);
}

.list-add-button:hover{
    color: var(--white);
    background-color: var(--tup-color);
}

.list-add-button:hover .add-icon{
    filter: var(--white-filter);
}

.see-all-box{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.see-all-button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: var(--tup-color);
    font-weight: 600;
    border-bottom: 1px solid var(--tup-color);
}

.see-all-button{
    color: var(--button-hover);
}

.more-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.popular-choices{
    padding: 50px;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popular-books{
    display: flex;
    gap: 20px;
}

.popular-books img{
    background-color: var(--black);
    width: 200px;
    height: 300px;
    border-radius: 15px;
}

.overdue-book-list,.books-issued, .statistics{
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
    border-radius: 8px;
}

.overdue-book-table{
    width: 100%;
    text-align: center;
}

.overdue-text-table{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.overdue-delay{
    color: var(--button);
}

.overdue-returned{
    color: var(--green);
}

.table-pages{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    padding: 0 50px;
    font-size: 0.6rem;
}

.table-pages img{
    cursor: pointer;
}

.page-number{
    border: 1px solid var(--black);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s linear;
}

.page-number:hover{
    background-color: var(--button);
    border: none;
    color: var(--white);
}

.current-page{
    background-color: var(--black);
    border: none;
    color: var(--white);
}

.page-numbers{
    display: flex;
    gap: 5px;
}

.table-pages img{
    width: 10px;
    height: 10px;
}

.books-issued-statistics{
    display: grid;
    grid-template-columns: 45% 55%;
    column-gap: 20px;
}