@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('../../assets/Fonts/Inter_24pt-Regular.ttf') format('ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    text-decoration: none;
}

:root{
    --black:#0c0c0c;
    --dark-gray: #131313;
    --tup-color: #94152B;
    --white: #fff;
    --button:  #97170E;
    --button-hover:  #75110a;
    --shadow: #0000003b;
    --yellow: #EDDF13;
    --yellow-hover: rgb(218, 168, 3);
    --yellow-filter: brightness(0) saturate(10%) invert(90%) sepia(41%) saturate(1000%) hue-rotate(332deg) brightness(103%) contrast(103%);
    --white-filter:  brightness(100%) saturate(0) invert(100%) sepia(0) saturate(0) hue-rotate(0) brightness(1000%) contrast(100%);
    --green: #54CB58;
    --light-gray: #F7F7F7;
    --blue: #5499CB;
    --table-header: #6F6A6A;
    --table-border-bottom:#D9D9D9;
    --light-red: rgba(148, 21, 43, 0.1);
    --lightest-red: #FFCBD4;
    --lightest-green:#C7C48E;
    --regular: 400;
}

.home-hero-section{
    background: url('../../assets/OPAC/photos/cla-hall.png');
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.home-title-subtitle{
    position: relative;
    top: -80px;
}


.home-title{
    font-size: 4.5rem;
    color: var(--dark-gray);
    font-weight: 600;
}

.home-subtitle{
    font-size: 3.3rem;
    color: var(--dark-gray);
    font-weight: 500;
}

.home-search-bar{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 90%;
    position: relative;
    top: -80px;
}

.dropdown-toggle, .home-search-button{
    text-align: center;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-size: 1rem;
    height: 50px;
    width: 110px;
    background-color: var(--tup-color) !important;
    color: var(--white);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 3px var(--shadow);
    transition: all 0.2s linear;
    cursor: pointer;
}

.dropdown-toggle:hover, .home-search-button:hover,.dropdown-toggle:focus, .home-search-button:focus,.dropdown-toggle:active, .home-search-button:active{
    background-color: var(--button-hover);
    color: var(--white);
}

.home-search{
    font-size: 1rem;
    padding: 8px 15px;
    height: 50px;
    width: 50%;
    border: none;
    box-shadow: 0px 1px 3px var(--shadow);
    border-radius: 5px;
}

.home-search:active, .home-search:focus{
    outline: none;
    border: 2px solid var(--button);
}

.home-acquired-books{
    padding: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.home-acquired-books-header{
    text-align: center;
    line-height: 40px;
}

.newly-acquired-text{
    font-size: 3rem;
    font-weight: var(--regular);
    color: var(--dark-gray);
}

.newly-acquired-description{
    font-size: 1.5rem;
    color: var(--dark-gray);
}

/* the swiper itself */
.home-acquired-books-gallery .swiper {
    width: 70%;
    padding-top: 50px;
    padding-bottom: 40px !important;

}  

/* bawat box kung saan nakapaloob yung images */
.home-acquired-books-gallery .swiper-slide {
    max-width: 350px;
    max-height: 800px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  

.home-acquired-books-gallery .swiper-button-prev,
.home-acquired-books-gallery .swiper-button-next {
  color: var(--white)!important; 
  width: 30px;
  height: 30px;
  background-color: var(--dark-gray);
  padding: 40px;
  border-radius: 50%;
  transition: all 0.2s linear;
  
}

.home-acquired-books-gallery .swiper-button-prev:hover,
.home-acquired-books-gallery .swiper-button-next:hover{
    background-color: var(--black);
} 

.home-acquired-books-gallery .swiper-pagination-bullet{
    background-color: var(--black) !important;
}

.home-search-filter-content{
    position: absolute;
    width: 100px;
    background-color: var(--white);
    margin-top: 5px;
    border-radius: 5px;
    overflow: hidden;
    display: none;
}

.home-search-filter-content p{
    padding: 8px;
    transition: all 0.2s linear;
    cursor: pointer;

}

.home-search-filter-content p:hover{
    background-color: var(--button-hover);
    color: var(--white);
}


.show-filter-content{
    display: block;
}

.home-coverflow-description{
    margin-top: 60px;
    font-size: 1.5rem;
    width: 60%;
    text-align: center;
}

.link{
    text-decoration: none !important;
}

@media screen and (max-width:700px) {
    
    .home-title{
        font-size: 2rem;
    }
    .home-subtitle{
        font-size: 1.5rem;
    }
    .button-text{
        display: none;
    }
    .home-search-bar .dropdown-toggle, .home-search-button{
        width: 50px;
        height: 50px;
    }
    .home-search-bar{
        width: 90%;
        gap: 5px;
    }
    .home-search{
        width: 70%;
    }
    .home-acquired-books{
        padding: 70px 40px;
        gap: 30px;
    }
    .newly-acquired-text{
        font-size: 1.5rem;
    }
    .newly-acquired-description{
        font-size: 1rem;
    }
    .swiper-button-prev,
    .swiper-button-next{
        display: none !important;
    }
    .home-coverflow-description{
        width: 100%;
        font-size: 1rem;
    }

}