@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --black:#1F1F1F;
    --tup-color: #94152B;
    --white: #fff;
    --white-shadow: #ffffff91;
    --button:  #97170E;
    --button-hover:  #75110a;
    --shadow: #0000003b;
    --yellow: #EDDF13;
    --yellow-hover: rgb(218, 168, 3);
    --yellow-filter: brightness(0) saturate(10%) invert(90%) sepia(41%) saturate(1000%) hue-rotate(332deg) brightness(103%) contrast(103%);
    --white-filter:  brightness(100%) saturate(0) invert(100%) sepia(0) saturate(0) hue-rotate(0) brightness(1000%) contrast(100%);
    --green: #54CB58;
    --light-gray: #F7F7F7;
    --blue: #5499CB;
    --table-header: #6F6A6A;
    --table-border-bottom:#D9D9D9;
    --light-red: rgba(148, 21, 43, 0.1);
}

.client-home-container .hero{
    background:linear-gradient(
        rgba(0, 0, 0, 0), /* Top gradient color */
        rgba(255, 255, 255, 0.486) /* Bottom gradient color */
      ), url('../../assets/OPAC/photos/cla-hall.png');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
}

.client-home-container .images{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* background-color: #1F1F1F; */
}

.client-home-container .hero .images {
    position: relative; /* Create a positioning context for children */
  }
  
  .client-home-container .hero .images .circle {
    width: 517px;
    height: 517px;
    background-color: var(--tup-color);
    border-radius: 50%;
    position: relative;
    z-index: 1;
    margin: 0 auto; 
  }
  
  .client-home-container .hero .images img {
    width: 320px;
    border-radius: 10px;
    box-shadow: 1px 0px 10px var(--shadow);
    position: absolute; 
  }
  
  .client-home-container .hero .images .book1 {
    top: -20px;
    left: 200px; 
    z-index: 2; 
  }
  
  .client-home-container .hero .images .book2 {
    top: 150px;
    left: -20px;
    z-index: 1; 
  }
  
.client-home-container .hero .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.client-home-container .content p,
.client-home-container .content h2{
    margin: 0;
}

.client-home-container .content h2{
    font-family: "Crimson Text", serif;
    font-size: 3rem;
    color: var(--black);
}

.client-home-container .content h2 span{
    font-family: "Pacifico", serif;
    color: var(--tup-color);
}

.client-home-container .content p{
    width: 80%;
    font-size: 1.2rem;
}

.client-home-container .content button{
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-top: 30px;
    background-color: var(--white);
    border: 1px solid var(--tup-color);
    color: var(--tup-color);
    padding: 15px;
}

.client-home-container .content button:hover,
.client-home-container .content button:active,
.client-home-container .content button:focus{
    background-color: var(--tup-color);
    color: var(--white);
}

.client-home-container .books-jn{
    /* background-color: #5499CB; */
    width: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.client-home-container .featured-books,
.client-home-container .journals-newsletters{
    width: 100%;
    height: auto;
}

.client-home-container .featured-books .header,
.client-home-container .journals-newsletters .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.client-home-container .featured-book{
    background-color: var(--tup-color);
    width: 100%;
    height: 80vh;
}


.client-home-container .featured-book .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-home-container .featured-book .image img{
    width: 450px;
    position: relative;
    bottom: -60px;
    border: 20px solid var(--white-shadow);
}


.client-home-container .featured-book .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: var(--white);
}

.client-home-container .featured-book .content p{
    margin: 0;
    font-weight: 300;
}

.client-home-container .featured-book .content h3{
    font-size:2.5rem;
}

.client-home-container .featured-book .search-btn{
    background-color: var(--white);
    color: var(--tup-color);
    font-size: 0.8rem;
}

.client-home-container .featured-book .search-btn:hover,
.client-home-container .featured-book .search-btn:active,
.client-home-container .featured-book .search-btn:focus{
    background-color: var(--black);
    color: var(--white);
}

.client-home-container .thesis-dissertation{
    margin-top: 200px;
    background:linear-gradient(
        rgba(0, 0, 0, 0.842), /* Top gradient color */
        rgba(0, 0, 0, 0.712) /* Bottom gradient color */
      ), url('../../assets/OPAC/photos/cla-hall.png');
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.client-home-container .thesis-dissertation{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--white);
    text-align: center;
    gap: 10px;
}

.client-home-container .thesis-dissertation h3{
    font-family: "Crimson Text", serif;
    font-size: 2.5rem;
}

.client-home-container .thesis-dissertation p{
    font-size: 1.2rem;
}

.client-home-container .thesis-dissertation .search-btn{
    color: var(--white);
    text-transform: uppercase;
    border: 1px solid var(--white);
    padding: 10px;
    font-size: 0.8rem;
}

.client-home-container .thesis-dissertation .search-btn:hover{
    color: var(--black);
    background-color: var(--white);
    border-color: var(--white);
}