/* Import Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif; /* Apply Inter font globally */
    height: 100vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background: url("../../assets/cla-hall.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

.wrapper {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for a clean look */
    border-radius: 15px;

    background: white;
    text-align: center; 
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
}

.logo {
    max-width: 50px; 
    height: auto;
    margin: 0 5px;
}


h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 700; /* Bold title */
    color: #94152B;
}

h2 {
    margin: 5px 0 20px 0; /* Small spacing between h1 and h2 */
    font-size: 18px;
    font-weight: 500; /* Slightly lighter than h1 */
    color: #555; /* Softer text color */
    padding-bottom: 20px;
}

.input-box {
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.input-container:hover {
    border-color: #94152B; /* Highlight border on hover */
}

.input-container .icon {
    margin-right: 10px;
    color: #666;
    font-size: 20px;
    flex-shrink: 0; /* Prevent shrinking */

}

.input-container input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
    padding: 8px;
    background: none;
    font-family: 'Inter', Arial, sans-serif;
}

.password-toggle {
    cursor: pointer;
    color: #666;
    font-size: 20px;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.password-toggle:hover {
    color: #94152B; /* Change color on hover */
}


button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #94152B;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #5d0d1a;
    transform: translateY(-2px); /* Slight lift effect on hover */
}

button:active {
    transform: translateY(0); /* Reset the lift effect on click */
}
