@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('../../assets/Fonts/Inter_24pt-Regular.ttf') format('ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    text-decoration: none;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
}

li p{
    margin: 0;
}


:root{
    --tup-color: #94152B;
    --white: #fff;
    --button:  #861109;
    --button-hover:  #75110a;
    --shadow: #0000003b;
    --yellow: #EDDF13;
    --yellow-filter: brightness(0) saturate(10%) invert(90%) sepia(41%) saturate(1000%) hue-rotate(332deg) brightness(103%) contrast(103%);
    --black: #000;
}

.admin-navbar-container{
    background-color: var(--tup-color);
    width: 260px;
    min-height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.navbar-logo-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    color: var(--white);
    gap: 10px;
}

.navbar-logos{
    display: flex;
    gap: 5px;
}

.navbar-logo-heading img{
    width: 65px;
}

.navbar-heading{
    text-align: center;
    font-weight: 600;
}

.navbar-heading-text{
    margin: 0;
}

.navbar-heading-lrc{
    font-style: italic;
    margin: 0;
}

.navbar-menu .menu, .navbar-menu .menu-dropdown{
    display: flex;
    align-items: center;
    padding: 8px 0 8px 30px;
    gap: 15px;
    cursor: pointer;
    color: var(--white);
    /* font-weight: 700; */
    font-size: 1rem;
    transition:all 0.2s linear;
    /* background-color: #EDDF13; */
}

.menu-dropdown{
    padding-left: 50px !important;
    background-color: var(--button-hover);
}

.admin-navbar-container .menu-icon{
    color: var(--white);
}

.navbar-menu li img{
    width: 20px;
}

.navbar-menu .dropdown{
   color: var(--white);
   font-size: 0.8rem;
}

.navbar-menu .selected{
    background-color: var(--button);
}

.navbar-menu .selected-sub{
    background-color: var(--button-hover);
}
