@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('../../assets/Fonts/Inter_24pt-Regular.ttf') format('ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    text-decoration: none;
}



:root{
    --black:#1F1F1F;
    --tup-color: #94152B;
    --white: #fff;
    --button:  #97170E;
    --button-hover:  #75110a;
    --shadow: #0000003b;
    --yellow: #EDDF13;
    --yellow-hover: rgb(218, 168, 3);
    --yellow-filter: brightness(0) saturate(10%) invert(90%) sepia(41%) saturate(1000%) hue-rotate(332deg) brightness(103%) contrast(103%);
    --white-filter:  brightness(100%) saturate(0) invert(100%) sepia(0) saturate(0) hue-rotate(0) brightness(1000%) contrast(100%);
    --green: #54CB58;
    --light-gray: #F7F7F7;
    --blue: #5499CB;
    --table-header: #6F6A6A;
    --table-border-bottom:#D9D9D9;
    --light-red: rgba(148, 21, 43, 0.1);
}

.logbook-container{
    padding: 10px 70px 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-x: hidden;   
}

.logbook-container h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--black);
}

.search-export{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logbook-search-bar{
    height: 40px;
    padding: 10px;
    padding-left: 15px;
    width: 600px;
    border-radius: 5px;
    border-color: var(--tup-color);
    font-size: 1rem;
}

.logbook-search-bar:active,.logbook-search-bar:focus{
    border: 3px solid var(--tup-color);
    outline: none;
}

.logbook-search{
    display: flex;
    align-items: center;
    gap: 15px;
}

.logbook-search-button{
    height: 40px;
    border: none;
    background-color: var(--button);
    color: var(--white);
    padding: 8px;
    width: 110px;
    font-size: 1rem;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s linear;
}

.logbook-search-button:hover{
    background-color: var(--button-hover);
}

.logbook-export-button{
    height: 40px;
    width: 110px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 5px;
    gap: 10px;
    background-color: var(--yellow);
    border: none;
    cursor: pointer;
    transition: all 0.1s linear;
}


.logbook-export-button:hover{
    background-color: var(--yellow-hover);
}

.logbook-filters{
    display: flex;
    align-items: center;
    gap: 50px;
}

.logbook-entries-page{
    display: flex;
    align-items: center;
    gap: 15px;
}

.logbook-date-filter{
    display: flex;
    align-items: center;
    gap: 15px;
}

.logbook-entries-dropdown{
    padding: 5px;
    height: 30px;
    width: 50px;
    border-color: var(--tup-color);
    border-radius: 5px;
}

.logbook-filter-date{
    padding: 5px;
    height: 30px;
    width: 150px;
    border-color: var(--tup-color);
    border-radius: 5px;
}

.logbook-clear-button{
    height: 30px;
    border: none;
    background-color: var(--button);
    color: var(--white);
    padding: 8px;
    width: 80px;
    font-size: 1rem;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s linear;
}

.logbook-clear-button:hover{
    background-color: var(--button-hover)   ;
}

.logbook-table-box{
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--tup-color);
    overflow: hidden;
}

.logbook-table thead{
    background-color: var(--tup-color);
    
}

.logbook-table tr{
    
}

.logbook-table thead tr th{
    color: var(--white);
}

.logbook-table tbody tr:nth-child(even){
    background-color: var(--light-red);
}

.logbook-table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.logbook-table-pagination{
    display: flex;
    justify-content: space-between;

}

.logbook-current-entry,.logbook-total-entry{
    font-weight: 700;
}

.logbook-table-button-pagination{
    display: flex;
    gap: 15px;
}

.logbook-pages{
    display: flex;
    gap: 8px;
}

.logbook-pages-not-current{
    background-color: var(--white);
    border: 1px solid var(--tup-color);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    border-radius: 50%;
    color: var(--tup-color);
    transition: all 0.2s linear;
    cursor: pointer;
}

.logbook-pages-not-current:hover{
    background-color: var(--tup-color);
    color: var(--white);
}

.logbook-pages-current{
    background-color: var(--tup-color) !important;
    color: var(--white) !important;
    border: none;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    border-radius: 50%;
    transition: all 0.2s linear;
    cursor: pointer;
}

.logbook-pages-current:hover{
    background-color: var(--button-hover);
    
}

.logbook-table-button-pagination{
    cursor: pointer;
}
