@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('../../assets/Fonts/Inter_24pt-Regular.ttf') format('ttf');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    text-decoration: none;
}

:root{
    --black:#0c0c0c;
    --dark-gray: #131313;
    --tup-color: #94152B;
    --white: #fff;
    --button:  #97170E;
    --button-hover:  #75110a;
    --shadow: #0000003b;
    --yellow: #EDDF13;
    --yellow-hover: rgb(218, 168, 3);
    --yellow-filter: brightness(0) saturate(10%) invert(90%) sepia(41%) saturate(1000%) hue-rotate(332deg) brightness(103%) contrast(103%);
    --white-filter:  brightness(100%) saturate(0) invert(100%) sepia(0) saturate(0) hue-rotate(0) brightness(1000%) contrast(100%);
    --green: #54CB58;
    --light-gray: #F7F7F7;
    --blue: #5499CB;
    --table-header: #6F6A6A;
    --table-border-bottom:#D9D9D9;
    --light-red: rgba(148, 21, 43, 0.1);
    --lightest-red: #FFCBD4;
    --lightest-green:#C7C48E;
    --regular:400;
}



.about-header-cover{
    width: 100%;
    height: 50vh;
    background-size: cover;
    background: url('../../assets/OPAC/photos/home-background.png');
}

.about-us{
    padding: 130px 300px;
    text-align: center;
}

.about-us h1{
    font-size: 2.5rem;
    color: var(--dark-gray);
    font-weight: var(--regular);
}

.about-us p{
    font-size: 1.3rem;
    color: var(--dark-gray);
    margin: 0;
}

.mission-vision-box{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.mission-vision-box div{
    height: 600px;
    margin: 30px;
    width: 100%;
    background-size: cover;
}

.vision-cover{
    border-radius: 30px;
    background: url('../../assets/OPAC/photos/cla-lrc.JPG');
}

.mission-cover{
    border-radius: 30px;
    background: url('../../assets/OPAC/photos/cla-lrc-door.JPG');
}

.vision-content, .mission-content{
    padding: 0 60px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.vision-title,.mission-title{
    font-size: 1.8rem;
}

.mission-text,.vision-text{
    font-size: 1.1rem;
    
}


.staff-header{
    font-size: 2rem;
}

.staff-description{
    font-size: 1.2rem;
}

.staff{
    padding: 100px 440px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.staff-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
}

.staff-icon{
    width: 200px;
    height: 200px;
    background-color: var(--dark-gray);
    border-radius: 50%;
}

.staff-name{
    font-size: 1.2rem;
    font-weight: 500;
}

.staff-position{
    font-size: 1rem;
}

.about-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
}

@media screen and (max-width:700px){
    .about-us{
        padding: 30px;
    }
    .about-us h1{
        font-size: 2rem;
        margin-bottom: 10px !important;
    }
    .about-us p{
        font-size: 1rem;
    }
    .staff{
        padding: 0;
    }

    .mission-vision-box{
        grid-template-columns: auto;
    }
    
    .mission-vision-box div{
        height: 400px;
        
    }
    
    .vision-content, .mission-content{
        padding: 30px !important;
        gap: 5px;        
    }

    .vision-title, .mission-title, .staff-header{
        font-size: 1.5rem;
        
    }

    .mission-cover{
        grid-row-start: 3;

    }

    .mission-cover,.vision-cover{
        background-position: center;
    }
    
    .vision-text,.mission-text, .staff-description,.staff-position{
        font-size: 1rem;
        color: var(--dark-gray);
    }
    .staff{
        padding: 30px;
        gap: 20px;
    }
    .staff-name{
        font-size: 1.2rem;
    }
    .staff-box{
        width: 100%;
        
        
    }
    .staff-icon{
        width: 150px;
        height: 150px;
        
    }
    .mission-vision{
        padding: 0px;
    }


    
}