@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('../../assets/Fonts/Inter_24pt-Regular.ttf') format('ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    text-decoration: none;
}



:root{
    --black:#1F1F1F;
    --tup-color: #94152B;
    --tup-color-hover: #7c1224;
    --white: #fff;
    --button:  #97170E;
    --button-hover:  #75110a;
    --shadow: #0000003b;
    --yellow: #EDDF13;
    --yellow-hover: rgb(218, 168, 3);
    --yellow-filter: brightness(0) saturate(10%) invert(90%) sepia(41%) saturate(1000%) hue-rotate(332deg) brightness(103%) contrast(103%);
    --white-filter:  brightness(100%) saturate(0) invert(100%) sepia(0) saturate(0) hue-rotate(0) brightness(1000%) contrast(100%);
    --green: #54CB58;
    --light-gray: #F7F7F7;
    --blue: #5499CB;
    --table-header: #6F6A6A;
    --table-border-bottom:#D9D9D9;
    --light-red: rgba(148, 21, 43, 0.1);
}


.circulation-container{
    padding: 10px 70px 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-x: hidden;   
}


.circulation-container h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--black);
    margin: 0;
}

.circulation-container .checkin-btn{
    display: flex;
    padding: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    gap: 10px;
    background-color: var(--tup-color);
    color: var(--white);
}

.circulation-container .checkin-btn:hover,
.circulation-container .checkin-btn:active,
.circulation-container .checkin-btn:focus{
    background-color: white;
    border: 1px solid var(--tup-color);
    color: var(--tup-color);
}

.circulation-container .checkin-btn .icon{
    font-size: 50px;
}

.circulation-container .checkin-btn span{
    font-size: 1.5rem;
}

.circulation-container .search-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.circulation-container .search-bar{
    margin: 0;
    height: 40px;
    border: 1px solid  var(--shadow);
    width: 400px;
    border-radius: 5px;
    padding-left: 10px;
}

.circulation-container .search-container .search-btn{
    background-color: var(--tup-color);
    color: var(--white);
}

.circulation-container .search-container .search-btn:hover,
.circulation-container .search-container .search-btn:active,
.circulation-container .search-container .search-btn:focus{
    background-color: var(--tup-color-hover);
    color: var(--white);
}

.circulation-container .dropdown-btn{
    background-color: var(--tup-color);
    color: var(--white);
}

.circulation-container .dropdown-btn:hover,
.circulation-container .dropdown-btn:active,
.circulation-container .dropdown-btn:focus{
    background-color: var(--tup-color-hover);
    color: var(--white);
}

.circulation-container h2{
    font-size: 1.3rem;
    font-weight: normal;
}

.circulation-container .circ-table{
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    border-collapse: collapse;
    width: 100%;
    outline: 1px solid var(--tup-color);
    
}

.circulation-container .circ-table thead tr td{
    background-color: var(--tup-color) !important;
    color: var(--white);
    width: 70px;
    padding: 10px;
    font-size: 1rem;
    /* font-size: 1rem !important; */
}

.circulation-container .circ-table tbody tr td{
    vertical-align: middle;
    /* font-size: 1rem !important; */
    border-bottom: none;
    padding: 10px;
    font-size: 1rem;
}

.circulation-container .circ-table tbody tr:nth-child(odd){
    background-color: var(--white) !important;
}

.circulation-container .circ-table tbody tr:nth-child(even){
    background-color: var(--light-red) !important;
}

.circulation-container .pagination{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.circulation-container .pagination button{
    background-color: transparent !important;
    color: var(--tup-color ) !important;
}

.circulation-container .pagination .buttons{
    display: flex;
    gap: 10px;
}

.circulation-container .pagination .buttons button:hover,
.circulation-container .pagination .buttons button:focus,
.circulation-container .pagination .buttons button:active{
    background-color: var(--tup-color) !important;
    color: var(--white) !important;
}

.circulation-container .pagination button:disabled{
    border: none !important;
    background-color: var(--disabled);
}

.circulation-container .pagination button:enabled{
    background-color: var(--tup-color);
    color: var(--white);
}

.circulation-container .buttons{
    display: flex;
    /* background-color: var(--black); */
    gap: 10px;
}

.circulation-container .spinner-box{
    width: 100%;
    /* background-color: red !important; */
}