@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('../../assets/Fonts/Inter_24pt-Regular.ttf') format('ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    text-decoration: none;
}



:root{
    --black:#1F1F1F;
    --tup-color: #94152B;
    --white: #fff;
    --button:  #97170E;
    --button-hover:  #75110a;
    --shadow: #0000003b;
    --yellow: #EDDF13;
    --yellow-hover: rgb(218, 168, 3);
    --yellow-filter: brightness(0) saturate(10%) invert(90%) sepia(41%) saturate(1000%) hue-rotate(332deg) brightness(103%) contrast(103%);
    --white-filter:  brightness(100%) saturate(0) invert(100%) sepia(0) saturate(0) hue-rotate(0) brightness(1000%) contrast(100%);
    --green: #54CB58;
    --light-gray: #F7F7F7;
    --blue: #5499CB;
    --table-header: #6F6A6A;
    --table-border-bottom:#D9D9D9;
    --light-red: rgba(148, 21, 43, 0.1);
}

.accounts-container{
    padding: 10px 70px 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow-x: hidden;   
}

.accounts-container h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--black);
}

.accounts-container .search-add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.accounts-container .search input{
    width: 500px;
    height: 40px;
    padding-left: 10px;
    border: 1px solid var(--shadow);
    border-radius: 5px;
}

.accounts-container .search{
    display: flex;
    gap: 10px;
    align-items: center;
}

.accounts-container .search button{
    background-color: var(--tup-color);
    color: var(--white);
    border-radius: 5px;
}

.accounts-container .create-btn{
    background-color: var(--tup-color);
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
}


.accounts-container table{
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    border-collapse: collapse;
    width: 100%;
    outline: 1px solid var(--tup-color);
    
}

.accounts-container table thead tr td{
    background-color: var(--tup-color) !important;
    color: var(--white);
    width: 70px;
    /* font-size: 1rem !important; */
    padding: 10px;
}

.accounts-container table tbody tr td{
    vertical-align: middle;
    /* font-size: 1rem !important; */
    border-bottom: none;
    padding: 10px;
}

.accounts-container table tbody tr:nth-child(odd){
    background-color: var(--white) !important;
}

.accounts-container table tbody tr:nth-child(even){
    background-color: var(--light-red) !important;
}

.accounts-container table .action{
    display: flex;
    position: relative;
    gap: 20px;
    left: 100px;
}

.accounts-container .action .edit-btn{
    background-color: var(--tup-color);
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.accounts-container .action .edit-btn:hover,
.accounts-container .action .edit-btn:hover,
.accounts-container .action .edit-btn:hover{
    background-color: var(--button);
    color: var(--white);
}

.accounts-container .deac-acc-btn{
    color: var(--tup-color);
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.accounts-container .deac-acc-btn:hover,
.accounts-container .deac-acc-btn:focus,
.accounts-container .deac-acc-btn:active{
    color: var(--black);
}

.accounts-container .pagination{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accounts-container .buttons{
    display: flex;
    gap: 5px;
}

.accounts-container .pagination button{
    background-color: transparent !important;
    color: var(--tup-color);
}

.accounts-container .pagination button:hover{
    background-color: var(--tup-color) !important;
    color: var(--white);
}


.accounts-container .pagination .btn:disabled{
    border: none !important;
    background-color: var(--disabled);
}

.accounts-container .pagination .btn:enabled{
    background-color: var(--tup-color);
    color: var(--white);
}

.accounts-container table .sort{
    width: 20px;
    background-color: transparent;
    border: none;
    margin-left: 5px;
    color: var(--white);
    cursor: pointer;
}

.accounts-container table .sort option{
    color: var(--black);
}

