@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('../../assets/Fonts/Inter_24pt-Regular.ttf') format('ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    text-decoration: none;
}

:root{
    --black:#1F1F1F;
    --tup-color: #94152B;
    --white: #fff;
    --button:  #97170E;
    --button-hover:  #75110a;
    --shadow: #0000003b;
    --yellow: #EDDF13;
    --yellow-hover: rgb(218, 168, 3);
    --yellow-filter: brightness(0) saturate(10%) invert(90%) sepia(41%) saturate(1000%) hue-rotate(332deg) brightness(103%) contrast(103%);
    --white-filter:  brightness(100%) saturate(0) invert(100%) sepia(0) saturate(0) hue-rotate(0) brightness(1000%) contrast(100%);
    --green: #54CB58;
    --light-gray: #F7F7F7;
    --blue: #5499CB;
    --table-header: #6F6A6A;
    --table-border-bottom:#D9D9D9;
    --light-red: rgba(148, 21, 43, 0.1);
}

.logbook-container{
    padding: 10px 70px 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-x: hidden;   
}

.logbook-container h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--black);
}

.search-export{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log-search-bar{
    width: 400px;
}

.logbook-search{
    display: flex;
    align-items: center;
    gap: 15px;
}

.log-search-button{
    background-color: var(--tup-color);
    color: var(--white);
}

.log-search-button:hover,.log-search-button:focus{
    border-color: var(--button) !important;
    background-color: var(--button) !important;
    color: var(--white) !important;
}

.log-search-button img{
    width: 14px;
    position: relative;
    top: -1.5px;
    margin-right: 6px;
   
}

.logbook-export-button{
    background-color: var(--yellow);
}

.logbook-export-button img{
    width: 20px;
    position: relative;
    top: -1.5px;
    margin-right: 6px;
}

.logbook-export-button:hover,.logbook-export-button:focus{
    background-color: var(--yellow-hover) !important;
    border-color: var(--yellow-hover) !important;
    color: var(--black) !important;
}

.logbook-filters{
    display: flex;
    align-items: center;
    gap: 50px;
}

.logbook-entries-page{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 300px;

}

.logbook-date-filter{
    display: flex;
    align-items: center;
    gap: 15px;
}

.log-dropdown{
    border-color: var(--button);
}

.log-dropdown:hover,.log-dropdown:focus{
    border-color: var(--button) !important;
    background-color: var(--button) !important;
    color: var(--white) !important;
}

.logbook-filter-date{
    padding: 5px;
    height: 38px;
    width: 150px;
    border-color: var(--tup-color);
    border-radius: 5px;
}

.logbook-clear-button{
    background-color: var(--tup-color);
    color: var(--white);
}

.logbook-clear-button:hover,.logbook-clear-button:focus{
    background-color: var(--button) !important;
    color: var(--white) !important;
}

.logbook-go-button{
    background-color: green;
    color: var(--white);
}

.logbook-go-button:hover,.logbook-go-button:focus{
    background-color: var(--green) !important;
    color: var(--white) !important;
}

.logbook-table-box{
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--tup-color);
    overflow: auto;
    /* height: 50vh; */
    scrollbar-width: thin;
}

.logbook-table-box thead{
    position: sticky;
    top: 0;

    
}

.logbook-table thead{
    background-color: var(--tup-color);
    
}

.logbook-table tr{
    
}

.logbook-table thead tr th{
    color: var(--white);
}

.logbook-table tbody tr:nth-child(even){
    background-color: var(--light-red);
}

.logbook-table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.logbook-table-pagination{
    display: flex;
    justify-content: space-between;

}

.logbook-table-pagination button{
    border: none;
}

.logbook-current-entry,.logbook-total-entry{
    font-weight: 700;
}

.logbook-table-button-pagination{
    display: flex;
    gap: 15px;
}

.logbook-pages{
    display: flex;
    gap: 8px;
}

.logbook-pages-not-current{
    background-color: var(--white);
    border: 1px solid var(--tup-color);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    border-radius: 50%;
    color: var(--tup-color);
    transition: all 0.2s linear;
    cursor: pointer;
}

.logbook-pages-not-current:hover{
    background-color: var(--tup-color);
    color: var(--white);
}

.logbook-pages-current{
    background-color: var(--tup-color) !important;
    color: var(--white) !important;
    border: none;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    border-radius: 50%;
    transition: all 0.2s linear;
    cursor: pointer;
}

.logbook-pages-current:hover{
    background-color: var(--button-hover);
    
}

.logbook-table-button-pagination{
    /* cursor: pointer; */
    display: flex;
    align-items: center;
}
