@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('../../assets/Fonts/Inter_24pt-Regular.ttf') format('ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    text-decoration: none;
}


:root{
    --tup-color: #94152B;
    --white: #fff;
}

.adminfooter{
    position: absolute;
    text-align: center;
    padding: 15px;
    color: var(--white);
    font-size: 12px;
    bottom: 0;
    width: 100%;
    background-color:var(--tup-color) ;
}