@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('../../assets/Fonts/Inter_24pt-Regular.ttf') format('ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    text-decoration: none;
}

:root{
    --black:#1F1F1F;
    --tup-color: #94152B;
    --white: #fff;
    --button:  #97170E;
    --button-hover:  #75110a;
    --shadow: #0000003b;
    --yellow: #EDDF13;
    --yellow-hover: rgb(255, 208, 56);
    --yellow-filter: brightness(0) saturate(10%) invert(90%) sepia(41%) saturate(1000%) hue-rotate(332deg) brightness(103%) contrast(103%);
    --white-filter:  brightness(100%) saturate(0) invert(100%) sepia(0) saturate(0) hue-rotate(0) brightness(1000%) contrast(100%);
    --green: #54CB58;
    --light-gray: #F7F7F7;
    --blue: #5499CB;
    --table-header: #6F6A6A;
    --table-border-bottom:#D9D9D9;
    --light-red: rgba(148, 21, 43, 0.1);
}

.authors-container {
    padding: 10px 70px 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow-x: auto; /* Add horizontal scrolling if content overflows */
}

.authors-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    margin: auto;
}

.authors-container .authors-content .search{
    padding: 10px;
    width: 50%;
    border: 1px solid var(--table-border-bottom);
    border-radius: 5px ;
}

.authors-container h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--black);
}

.authors-container .author-header{
    background-color: var(--tup-color);
    margin: 0;
    padding: 15px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    color: var(--white);
    border-radius: 5px;
    text-align: center;
    font-size: 0.9rem;
}

.authors-container .header p{
    margin: 0;
}

.authors-container .author-details{
    background-color: var(--white);
    border: 1px solid var(--tup-color);
    margin: 0;
    padding: 15px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    text-align: center;
    font-size: 0.9rem;
}

.authors-container .author-details p{
    margin: 0;
}

.authors-container .authors-content .add-author{
    background-color: var(--tup-color);
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.authors-container .pagination button{
    color: var(--tup-color);
}