@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('../../assets/Fonts/Inter_24pt-Regular.ttf') format('ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    text-decoration: none;
}

:root{
    --black:#1F1F1F;
    --tup-color: #94152B;
    --white: #fff;
    --button:  #97170E;
    --button-hover:  #75110a;
    --shadow: #0000003b;
    --yellow: #EDDF13;
    --yellow-hover: rgb(218, 168, 3);
    --yellow-filter: brightness(0) saturate(10%) invert(90%) sepia(41%) saturate(1000%) hue-rotate(332deg) brightness(103%) contrast(103%);
    --white-filter:  brightness(100%) saturate(0) invert(100%) sepia(0) saturate(0) hue-rotate(0) brightness(1000%) contrast(100%);
    --green: #54CB58;
    --light-gray: #F7F7F7;
    --blue: #5499CB;
    --table-header: #6F6A6A;
    --table-border-bottom:#D9D9D9;
    --light-red: rgba(148, 21, 43, 0.1);
}

.view-item-container{
    padding: 10px 70px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden;   
}

.view-item-container h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--black);
}

.view-item-path-button{
    display: flex;
    align-items: center;
    gap: 10px;
}

.view-item-path-button p{
    margin: 0;
}

.view-item-back-button{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 5px;
    border-radius: 20px;
    color: var(--button);
    border: 1px solid var(--button);
    background-color: var(--white);
    transition: all 0.2s linear;
}

.view-item-back-button:hover{
    background-color: var(--button);
    color: var(--white);

}

.view-item-path span{
    color: var(--button);
    font-weight: 700;
}

.edit{
    display: flex;
    justify-content: center;
}

.view-item{
    font-size: 1rem;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--button);
    border: 1px solid var(--button);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.view-item:hover{
    background-color: var(--button-hover);
    border-color: var(--button-hover);
}