@import '../../assets/styles/globals.css';

.reports-view-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .reports-view-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  }
  
  .reports-view-box {
    position: relative;
    background: white;
    /* padding: 50px; */
    width: 80%;
    max-width: 80%;
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }

  .reports-view-container .header{
    /* background-color: var(--tup-color); */
    border-bottom: 1px solid #ddd;
    padding: 20px !important;
    font-size: 1.5rem;
  }

  .reports-view-container .body{
    padding: 10px 50px;
  }
  
  /* Table Styles */
 .report-view-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 0.875rem;
  margin-top: 1rem;
}

.report-view-table thead th {
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 0.5rem;
  /* border: 1px solid #cccccc; */
}

.report-view-table tbody td {
  padding: 0.5rem;
  /* border: 1px solid #cccccc; */
  background-color: #fff;
}

.report-view-table tbody tr:nth-child(even) td {
  background-color: #f4f4f4;   /* secondary color */
}

.report-view-table tbody tr:hover td {
  background-color: #e2e8f0;   /* light hover */
}

.report-view-table th:first-child,
.report-view-table td:first-child {
  text-align: left;
}

.report-view-table th,
.report-view-table td {
  vertical-align: top;
}
  
  /* Close Button */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .close-btn:hover {
    background: darkred;
  }
  

  .reports-view-container .export-btn{
    background-color: var(--yellow);
  }

  .reports-view-container .no-data{
    font-size: 1.5rem;
    color: var(--tup-color);
  }