@import '../../assets/styles/global.css';

.navbar-box .logo, .navbar-box .logo span{
    color: var(--dark-gray);
    font-size: 2rem;
    font-family: var(--playfair);
    font-weight: 500;
}

.navbar-box .logo{
    color: var(--tup-color);
}

.navbar-box .search{
    height: 50px;
    border: 1px solid var(--medium2-gray);
}

.navbar-box .search .dropdown, 
.navbar-box .search input,.navbar-box 
.search button,
.navbar-box .menu button{
    border: none !important;
    outline: none !important;
}

.navbar-box .search .dropdown{
   background-color: var(--light-gray);
   border-radius: 0;
   width: 20px;
}

.navbar-box .search input{
    padding: 0 10px;
    width: 400px;
}

.navbar-box .search button{
    background-color: var(--tup-color);
    width: 50px;
    color: var(--white);
}

.navbar-box .menu button{
    background-color:transparent;
    color: var(--open-sans);
}